spring:
  profiles:
    active: local
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: "SECRET"
    username: "SECRET"
    password: "SECRET"
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        default_batch_fetch_size: 100
        jdbc:
          batch_size: 100
        format_sql: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: "SECRET"

logging:
  level:
    org.springframework.transaction.interceptor: INFO