spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://prod-server:32000/memocode_memo_server_dev
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://auth.dev.memocode.dev

logging:
  level:
    org.springframework.transaction.interceptor: TRACE

decorator:
  datasource:
    p6spy:
      enable-logging: true

custom:
  front:
    domain: "http://localhost:5173"
    domain2: "http://localhost:5173"
  meilisearch:
    index:
      memos: "memos-dev"
